@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

/* AREA FOR RESETTING INPUT SEARCH WIDGETS */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Libre Franklin", sans-serif;
    overflow-x: hidden;
}

.abstract-logo {
    height: 32px;
}



.abstract-logo-mark {
    /* Placeholder to style later - Path/SVG elements use fill/font-size */
    fill: white;
    height: 15px;
}


.header__container { 
    display: flex;
    max-width: 1900px;
    background-color: #000000;
    height: 100%;
    width: 97%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

@media screen and (min-width: 375px) {
    .header__container {
        flex-wrap: nowrap;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .header__container {
        width: 88%;
    }
}


.header {
    display: flex;
    background-color: #000000;
    height: 88px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

@media screen and (min-width: 375px) {
    .header {
        padding: 19px 0;
    }
}


.header__left-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .header__left-container {
        width: 70%
    }
}


.header__right-container {
    display: none;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

@media screen and (min-width: 1200px) {
    .header__right-container {
        display: flex;
    }
}


#header__logo-link, #header__help-center-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 450;
    transition: opacity 0.2s ease-in;
}

#header__logo-link:hover {
    opacity: 0.8;
}

#header__help-center-link {
    border-left: solid white 2px;
    padding-left: 12px;
    margin-left: 12px;
    font-weight: 400;
    font-size: 22px;
}

#header__help-center-link:hover {
    text-decoration: underline;
}

.header__search-input {
    border: none;
    border-radius: 8px;
    height: 55px; 
    width: 265px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
    font-weight: 450;
    padding: 15px;
}

.header__search-input {
    outline: none;
}

.header__search-input::placeholder {
    color: black;
    opacity: 0.4;
}

.header__request-btn {
    color: white;
    background-color: #191a1b;
    border: 1px solid white;
    border-radius: 8px;
    margin: 0 15px;
    height: 48px;
    width: 230px;
    font-size: 22px;
    padding: 0 10px;
    font-family: "Libre Franklin", sans-serif;
}

.header__request-btn:hover {
    cursor: pointer;
}

.header__signin-btn {
    color: white;
    background-color: #4C5FD5;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    height: 48px;
    width: 140px;
    padding: 0 10px;
    font-family: "Libre Franklin", sans-serif;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.header__signin-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}



/* Mobile Header Items Below */

.header__right-container-mobile {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
}

@media screen and (min-width: 1200px) {
    .header__right-container-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__right-container-mobile {
        width: 30%;
    }
}

.header__mobile-menu-btn, .header__mobile-search-btn {
    color: white;
}

.header__mobile-search-btn {
    margin-right: 15px;
}


.header__mobile-menu {
    display: none;
}

.header__mobile-search {
    display: none
}

@media screen and (min-width: 1200px) {
    #header__mobile-menu-check:checked ~ .header .header__mobile-menu {
        display: none !important;
    }
}


#header__mobile-search-check, #header__mobile-menu-check {
    display: none;
}

#header__mobile-search-check:checked + .header .header__mobile-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88px;
    background-color: white;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__mobile-search-close {
    color: black;
    margin-left: 10px;
    font-size: 18px;
}

.header__mobile-search-bar {
    width: 90%;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
    font-weight: 450;
    padding: 0 15px;
}

.header__mobile-search-bar::placeholder {
    color: black;
    opacity: 0.4; 
}

#header__mobile-menu-check:checked ~ .header .header__mobile-menu {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 205px;
    background-color: #191a1b;
    position: absolute;
    top: 88px;
    left: 0;
    z-index: 1;
}


@keyframes growIn {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}


.grow-in {
    opacity: 0;
    transform: scaleY(0);
    animation: growIn 0.3s forwards;
    transform-origin: top;
}


.header__mobile-link {
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-size: 22px;
    font-weight: 475; 
}

.header__hr {
    width: 40%;
    margin: 20px 0;
    background-color: rgb(255, 255, 255, 0.5);
    height: 1px;
    border: none;
}

#header__mobile-menu-check:checked ~ .header, 
#header__mobile-menu-check:checked ~ .header > .header__container {
    background-color: #191a1b;
}

.header__mobile-menu-close {
    display: none;
}

#header__mobile-menu-check:checked ~ .header .header__container .header__right-container-mobile .header__mobile-menu-btn {
    display: none;
}

#header__mobile-menu-check:checked ~ .header .header__container .header__right-container-mobile .header__mobile-menu-close {
    display: inline-block;
    color: white;
    font-size: 32px;
}






/* Mobile Header Items Above */


/* Hero Section CSS */

.hero__search-container {
    height: 351px;
    display: flex;
    background-color: #dadbf1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px 0 10px;
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    .hero__search-container {
        height: 465px;
    }
}

@media screen and (min-width: 768px) {
    .hero__search-container {
        height: 397px;
    }
}

.hero__heading {
    font-size: 35px;
    font-weight: 450;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .hero__heading {
        font-size: 55px;
    }
}

@media screen and (min-width: 768px) {
    .hero__heading {
        font-size: 75px;
    }
}

.hero__search-wrapper {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero__search-wrapper {
        width: 720px;
    }
}


.hero__search {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
    font-weight: 450;
    margin-bottom: 100px;
    box-shadow: 0 9px 14px rgb(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 40px;
    transition: border-color 0.1s ease-in;
}

.hero__search:hover, .hero__search:focus {
    border-color: #4C5FD5;
}

.hero__search:hover + .hero__search-arrow {
    color: #4C5FDF;
}

.hero__search:focus {
    outline: none;
    border-color: #4C5FD5;
}

.hero__search::placeholder {
    color: black;
    opacity: 0.4;
}

.hero__search-arrow {
    position: absolute;
    top: 25px; 
    right: 20px;
    font-size: 22px;
    transition: color 0.1s ease-in;
}

.hero__search-arrow:hover {
    color: #4C5FD5;
}

.hero__search-wrapper {
    position: relative;
}



/* Info Links Section CSS */

.info__links-container {
    align-items: flex-start;
    min-height: 900px;
    width: 100%;
    max-width: 1900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 10px 70px 0;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 480px) {
    .info__links-container {
        padding: 100px 10px 70px 10px;
    }
}

.info__link-card{
    align-items: flex-start;
    display: flex;
    width: 100%;
    min-height: 250px;
    padding-right: 20px;
    justify-content: flex-start;
    
}

@media screen and (min-width: 768px) {
    .info__link-card {
        width: 40%;
    }
}

.info__link-graphic {
    display: flex;
    align-items: start;
    padding: 40px 10px 40px 10px;
    justify-content: center;
    width: 65%;
}

@media screen and (min-width: 768px) {
    .info__link-graphic {
        padding-right: 15px;
        max-width: 115px;
    }
}

.info__card-img {
    max-width: 75px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .info__card-img {
        max-width: 90px;
    }
}

.info__link-content {
    width: 200%;
    padding: 20px 0 0 10px;
}

.info__link-card-text {
    font-size: 22px;
    font-weight: 450;
    margin-right: 0;
    line-height: 1.5;
}

.info__card-link {
    text-decoration: none;
    color: #4C5FD5;
    font-size: 20px;
    font-weight: 450;
}

.info__card-link:hover {
    text-decoration: underline;
}


/* Footer CSS */

.footer {
    background-color: #000000;
    width: 100%;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    padding: 40px 0 175px 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    min-height: 244px; 
    position: relative;
}

@media screen and (min-width: 620px) {
    .footer__container {
        padding: 40px 0 40px 0; 
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        padding: 50px 0 150px 0;
    }
}

@media screen and (min-width: 992px) {
    .footer__container {
        padding: 50px 0;
    }
}

.footer__links-title, .footer__link, .footer__copyright-text, .footer__contact-title {
    color: white;
    margin: 0;
}

.footer__links-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer__contact-title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer__link {
    font-family: "Libre Franklin", sans-serif;
    text-decoration: none;
    margin-bottom: 7px;
    font-weight: 450;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__links-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    margin-right: 70px;
}


@media screen and (min-width: 350px) and (max-width: 620px) {
    .footer__links-container{
        width: 30%;
        margin-right: 55px;
    }
}


@media screen and (min-width: 620px) {
    .footer__links-container {
        width: 20%;
    }
}

@media screen and (min-width: 620px) and (max-width: 768px) {
    .footer__links-container:nth-child(odd) {

        margin-right: 5px;
    }
}

@media screen and (min-width: 620px) and (max-width: 768px) {
    .footer__links-container:nth-child(even) {
        width: 60%;
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer__links-container {
        width: 40%;
    }
}

@media screen and (min-width: 1400px) {
    .footer__links-container {
        width: 16%;
    }
}

.footer__copyright-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@media screen and (min-width: 620px) {
    .footer__copyright-container {
        bottom: 0px;
        right: 0px;
        left: auto;
    }
}


.footer__copyright-text {
    margin: 5px 0;
    font-size: 19px;
    font-weight: 450;
}

.footer__logo {
    margin-bottom: 10px;
    height: 35px;
    width: auto;
}